
 :root {
  /* ========== POLICES ========== */
  --font-family-headings: 'Playfair Display', sans-serif;
  --font-family-body: 'Segoe UI', Verdana, sans-serif;

  /* ========== TITRES ========== */
  --font-size-h1-mobile: 2rem;
  --font-size-h2-mobile: 1.8rem;
  --font-size-h3-mobile: 1.5rem;

  --font-size-h1-desktop: 3.5rem; /* 3.5rem si hero */
  --font-size-h2-desktop: 3rem;
  --font-size-h3-desktop: 2rem;

  --line-height-headings: 1.4;
  --line-height-headings-hero: 1.3;

  /* ========== PARAGRAPHES ========== */
  --font-size-body-mobile: 1.2rem;
  --font-size-paragraph-mobile: 1.05rem;
  --font-size-small-mobile: 1rem;

  --font-size-body-desktop: 1.125rem;
  --font-size-paragraph-desktop: 1.2rem;
  --font-size-small-desktop: 1.05rem;

  --line-height-body: 1.7;
  --line-height-paragraph: 1.8;
  --line-height-large: 1.9;
}
