:root {
  /* ========== POLICES ========== */

  --font-family-headings: 'Playfair Display', serif;
  --font-family-body: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  /* ========== TITRES ========== */

  --font-size-h1-mobile: 2rem;
  --font-size-h2-mobile: 2.2rem;
  --font-size-h3-mobile: 2.2rem;
  --font-size-h4-mobile: 2.2rem;
  --font-size-h5-mobile: 2.2rem;
  --font-size-h6-mobile: 2.2rem;

  --font-size-h1-desktop: 3.5rem;
  --font-size-h2-desktop: 3rem;
  --font-size-h3-desktop: 3rem;
  --font-size-h4-desktop: 3rem;
  --font-size-h5-desktop: 3rem;
  --font-size-h6-desktop: 3rem;

  --line-height-headings: 1.4;
  --line-height-headings-hero: 1.3;

  /* ========== PARAGRAPHES ========== */

  --font-size-body-mobile: 18px;
  --font-size-paragraph-mobile: 1.05rem;
  --font-size-small-mobile: 1rem;
  --font-size-large-mobile: 1.2rem;

  --font-size-body-desktop: 18px;
  --font-size-paragraph-desktop: 1.2rem;
  --font-size-small-desktop: 1.05rem;
  --font-size-large-desktop: 1.5rem;

  --line-height-body: 1.7;
  --line-height-paragraph: 1.8;
  --line-height-large: 1.9;

  /* ========== POIDS ========== */

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}
