// COULEURS
$green-primary: #a4a661;
$blue-dark: #1e3a5f;
$white: #ffffff;
$gray-light: #f5f5f5;
$gray-text: #1b1b1b;
$red-noel: #c41e3a;

// ESPACEMENTS
$space-xs: 0.5rem;  // 8px
$space-sm: 1rem;    // 16px
$space-md: 2rem;    // 32px
$space-lg: 2.5rem;  // 40px
$space-xl: 3.5rem;  // 56px
$space-xxl: 4.5rem; // 72px

// =============================
// FONTS ACCESSIBLES
// =============================

$font-headings: 'Playfair', serif;
$font-body: 'Inter', sans-serif;


// Line heights
$lh-headings: var(--line-height-headings);
$lh-body: var(--line-height-body);

// BREAKPOINTS
$bp-tablet: 768px;
$bp-desktop: 1200px;
