// COULEURS
$green-primary: #a4a661;
$blue-dark: #1e3a5f;
$white: #ffffff;
$gray-light: #f5f5f5;
$gray-text: #1b1b1b;
$red-noel: #c41e3a;

// ESPACEMENTS
$space-xs: 8px;
$space-sm: 16px;
$space-md: 30px;
$space-lg: 40px;
$space-xl: 56px;
$space-xxl: 72px;


// =============================
// FONTS ACCESSIBLES
// =============================

$font-headings: 'DM Sans', sans-serif;
$font-body: 'Inter', sans-serif;




// Line heights
$lh-headings: var(--line-height-headings);
$lh-body: var(--line-height-body);

// BREAKPOINTS
$bp-tablet: 768px;
$bp-desktop: 1200px;
